<!DOCTYPE html>
{% load blog_tags %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog list </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'ablog/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'ablog/css/blog.css' %}" />
</head>
<body>
 
    

    <section class="blog-page">
        <div class="container">
            <div class="page-header">
                

                <h2>Categories</h2>
               
                    
                
            </div>


        <div class="row">
    
            {% for cat in cats %}
    
            <div class="col-xl-4 col-md-6 mt-5">
                <div class="blog-card d-flex flex-column">
                    <a href="{{cat.get_absolute_url}}"><img src="{% static 'ablog/img/blog-2.jpg' %}" alt="Workspace Desktop" class="img-fluid" width="800" height="600"></a>
                    <div class="card-info text-center">
                        <a href="{{cat.get_absolute_url}}"><h4> {{cat.name}} ({{cat.post_cat.count}}) </h4></a>
                    </div>
                  </div>
            </div>
            
           

            {% endfor %}
    
            
        </div>
    </div>
  
    
    </section>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>


    
    

      


